$bgColor: #92c100;

.App {
  text-align: left;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 140px;
  margin-top: -10px;
}

.App-header {
  background-color: $bgColor;
  height: 80px;
  padding-left: 20px;
  margin: 0px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
